<h1>Formulário de contato</h1>
<p>Nome: {{ tipo }}</p>
<p>E-mail: {{ name }}</p>
<p>Telefone: {{ phone }}</p>
<img src="{{ file }}">
<picture>{{ file }}</picture>
<p>Arquivo: {{ file }}</p>
<p>Mensagem: {{ message }}</p>